* {
	margin: 0;
	padding: 0;
	font-family: 'Dancing Script', cursive;
}

body{
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #bddfff;
}

.name{
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 0px;
	font-size: xx-large;
	font-family:cursive;
	display: flex;
	align-items: center;
	justify-content: center;
	/* opacity: 0.3; */
	width: 100vw;
	/* text-align: center; */
	background-color: rgb(244, 248, 250);
}
.name img{
	margin-right: 10px;
}

.playing {
	position: relative;
	height: 70vh;
	width: 25vw;
	text-align: center;
	background:linear-gradient(to bottom, #e75e5e, #99ffa2);
	border-radius: 20px;
	/* box-shadow: 1px 0px 7px 5px rgb(240,240,240,20%); */
	box-shadow: 1px 8px 8px 5px rgba(0,0,0,0.2);
}

.main{
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.songs_list{
	position: absolute;
	top: 15vh;
	left: 25px;
	height: 7vh;
	width: 15vw;
	background:linear-gradient(to bottom,  #59b8f7, #99ffa2);
	border-radius: 20px;
	/* box-shadow: 1px 0px 7px 1px rgb(240 240 240 / 20%); */
	box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
	overflow-y: scroll;
}

.songs_list::-webkit-scrollbar {
	display: none;
  }

.song1{
	margin-left: 15px;
	box-shadow: 1px 0px 7px 1px rgb(240 240 240 / 20%);
	background:linear-gradient(to bottom, #e4e3e3, #bccdff);
	width: 90%;
	height: 20%;
	border-radius: 20px;
	position: relative;
	font-family: 'Dancing Script', cursive;
	/* overflow-y: scroll; */
}
.list_heading{
	/* position: fixed; */
	position: -webkit-sticky;
	padding-top: 7px;
	height: 50px;
	width: 100%;
	background-color: rgb(255, 252, 251);
	text-align: center;
	font-size: xx-large;
	font-weight: 500;
	font-family: 'Dancing Script', cursive;
}

#listplay {
	position: absolute;
	right: 40px;
	top: 14px;
	background-color: salmon;
	height: 50px;
	width: 50px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}

.songDetails{
	height: 20%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.songName ,.artistName{
	padding-top: 10px;
	font-size: 20px;
	font-weight: 600;
}

#logo {
	position: absolute;
	top: 20px;
	left: 25px;
	/* color: #ccc; */
	font-size: 20px;
	box-shadow: 0.1px 18px 18px 2px rgba(0,0,0,0.2);
	border-radius: 50%;
}

#options {
	position: absolute;
	top: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#mute, #autoplay, #playlist{
	position: absolute;
	top: 20px;
	color: rgb(247, 247, 247);
	cursor: pointer;
	box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(161, 153, 153);
}
#mute{
	right: 75px;
}
#autoplay{
	right: 125px;
}
#playlist{
	right: 175px;;
}
#mute:hover , #autoplay:hover, #options:hover {
	background-color: #ffbfb7;
}

#song_image {
	margin-top: 70px;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	animation: spin 5s infinite linear;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.songname, .artist {
	color: #fff;
	text-transform: capitalize;
	margin-top: 10px;
	font-weight: 600;
}

.details {
	margin-top: 10px;
	margin-bottom: 20px;
}


.buttons {
margin-top: 15px;

}

button:hover {
	background-color: #e75f4d;
}

button{
	padding: 10px;
	margin: 5px;
	outline:none;
	border:none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: 0.5s;
	/* background-color: rgba(255,255,255,0.1); */
	cursor: pointer;

}

#duration_slider{
	-webkit-appearance: none;
	width: 40%;
	outline: none;
	height: 3px;
	margin:0 15px;
	cursor: pointer;
}

#volume_icon {
	position: absolute;
	bottom: 93px;
	right:8px;
}

#volumeUp {
	-webkit-appearance: slider-vertical;
	position: absolute;
	bottom: 180px;
	cursor: pointer;
	background: #dfdfdf;
	width: 3px;
	right: 40px;
}
