* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #bddfff;
}
.name{
	position: absolute;
	top: 40px;
	font-size: xx-large;
	font-family:cursive;
}
.playing {
	position: relative;
	height: 70vh;
	width: 25vw;
	text-align: center;
	background:linear-gradient(to bottom, #d1c7f7, #34179e);
	border-radius: 20px;
	box-shadow: 1px 0px 7px 5px rgb(240 240 240 / 20%);
}

.main{
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.songs_list{
	position: absolute;
	top: 18vh;
	left: 25px;
	height: 65vh;
	width: 30vw;
	/* text-align: center; */
	background:linear-gradient(to bottom, #5531e7, #c7bee9);
	border-radius: 20px;
	box-shadow: 1px 0px 7px 1px rgb(240 240 240 / 20%);
	overflow-y: scroll;
}

.songs_list::-webkit-scrollbar {
	display: none;
  }

.song1{
	margin-left: 15px;
	box-shadow: 1px 0px 7px 1px rgb(240 240 240 / 20%);
	background:linear-gradient(to bottom, #31a4e7, #c7bee9);
	width: 90%;
	height: 20%;
	border-radius: 20px;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* overflow-y: scroll; */
}

#listplay {
	position: absolute;
	right: 40px;
	top: 14px;
	background-color: salmon;
	height: 50px;
	width: 50px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}

.songDetails{
	height: 20%;
	/* width: 80%; */
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.songName ,.artistName{
	padding-top: 10px;
	font-size: 20px;
	font-weight: 600;
}
.artistName {
	font-size: 15px;
}


#logo {
	position: absolute;
	top: 20px;
	left: 25px;
	color: #ccc;
	font-size: 20px;
}

#logo i{
	padding-right: 5px;
}

#options {
	position: absolute;
	top: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#mute, #autoplay{
	position: absolute;
	top: 20px;
	color: rgb(247, 247, 247);
	cursor: pointer;
	box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#mute{
	right: 75px;
}
#autoplay{
	right: 125px;
}

#mute:hover , #autoplay:hover, #options:hover {
	background-color: #e75f4d;
}

#song_image {
	margin-top: 70px;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	animation: spin 5s infinite linear;
}

@keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.songname, .artist {
	color: #fff;
	text-transform: capitalize;
	margin-top: 10px;
	font-weight: 600;
}

.details {
	margin-top: 10px;
	margin-bottom: 20px;
}

.buttons {
margin-top: 15px;

}

button:hover {
	background-color: #ff614f;
}

button{
	padding: 10px;
	margin: 5px;
	outline:none;
	border:none;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: 0.5s;
	/* background-color: rgba(255,255,255,0.1); */
	cursor: pointer;

}

#duration_slider{
	-webkit-appearance: none;
	width: 40%;
	outline: none;
	height: 3px;
	margin:0 15px;
	cursor: pointer;
}

#volume_icon {
	position: absolute;
	bottom: 93px;
	right:8px;
}

#volumeUp {
	-webkit-appearance: slider-vertical;
	--fill-color: linear-gradient(to right, LightCyan, var(--primary-color));
	background-color: rgb(215, 250, 229);
	position: absolute;
	bottom: 180px;
	cursor: pointer;
}